.divider {
    width: 208px;
    position: absolute;
    left: 50%;
    margin-left: -104px;
    margin-top: 10px;
}

.divider .line {
    width: 90px;
    height: 1px;
    background: #ccc;
    float: left;
}

.divider .circle {
    width: 10px;
    height: 10px;
    border: 1px solid #ddd;
    margin-left: 8px;
    float: left;
    margin-right: 8px;
    margin-top: -5px;
}

.section-gray {
    padding-top: 0px;
    background-color: #f5f5f5;
}
.section-white{
    padding-top: 0px;
    background-color: white;
}

.header-img
{
    height:525px;
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    overflow: hidden;
    -webkit-box-shadow: none !important;
        background-attachment: fixed;
            background-repeat: no-repeat;
    background-size: cover;


    position: relative;
    float: none;
    z-index: 0;
    padding-top:200px;
    
    
    
}
.header-img .titles{
    float: left;
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    padding-top: 120px;
}

.header-title{
      color:white;
      font-style: normal;
}
.header-img .titles h1{

    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 600;
    font-size: 48px;
    line-height: 20px;
}
/*FOR IMAGES */
.bordered {
    border: 1px solid #DFE1E4;
    border-bottom-width: 2px;
    border-radius: 3px;
    padding: 25px;
    background: WHITE;
}
/*header image*/
.overlay-header{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

/*catalog*/
.items li img {
    display: block;
    width: 100%;
    height: 220px;
}

.bordered .info p {
  color :#222;
}
.bordered {
    border: 1px solid #ffffff;
    background: #FFFFFF;
    height:90px;
}

.bordered .info h3 a, .bordered .info h4 a {
    color: #222;
}


/*
tabs of catalog
*/
.filter li a, .format-filter li a {
    padding: 0 15px;
    background-color: #B5B9C1;
    color: #fff;
    margin-right: 2px;
    
}
.filter li a:hover, .format-filter li a:hover {
   
    color:#222;
    background-color: #F5F5F5;
}




/*===================================================================================*/
/*	SECTION : STEPS FOR IMPORT
/*===================================================================================*/


.tabs-circle-top .etabs:before {
	margin: 120px 0 -120px;
}
.tabs-circle-top .tab {
	height: 100px;
	margin: 0 20px;

}
.tabs-circle-top .tab a {
	width: 105px;
	height: 105px;
	background: #FFF;
    color: #506A85;
	font-size: 14px;
	line-height: 130%;
	font-weight: 500;
    text-transform: uppercase;
	padding: 13px;
    border: 1px solid #CED7E0;
	border-radius: 50%;
	overflow: hidden;
}
.tabs-circle-top .tab a div {
	font-family: 'Lato', sans-serif;
	font-size: 40px;
	line-height: 100%;
	font-weight: 200;
	margin: -10px 0 5px;
}
.tabs-circle-top .tab a:hover {
	/*border: 4px solid #1ABB9C;*/
	background-color: #F5F7FA;
	border-color: #CED7E0 !important;
}
.tabs-circle-top .tab.active {
	top: -15px;
}
.tabs-circle-top .tab.active a {
	height: 115px;
	width: 115px;
    background: #506A85;
	font-size: 15px;
	line-height: 140%;
	color: #FFF;
	border: 1px solid #1ABB9C;
}


