p{
    font-size:13px;
    font-weight: normal;
    line-height: 20px;
    color: #777777;
}

/*===================================================================================*/
/*	SECTION : LINES
/*===================================================================================*/
/* subtitle */
.section-title {
    margin-bottom:35px;
}

.section-title h2 {
    text-transform: uppercase;
    line-height: 38px;
    letter-spacing: 1.5px;
    text-align: center;
}

.section-title p{
    font-size: 14px;
    color: #555;
    margin-top: 30px;
}

.divider {
    width: 208px;
    position: absolute;
    left: 50%;
    margin-left: -104px;
}

.divider .line {
    width: 90px;
    height: 1px;
    background: #ccc;
    float: left;
}
.divider .circle {
    width: 10px;
    height: 10px;
    border: 1px solid #ddd;
    margin-left: 8px;
    float: left;
    margin-right: 8px;
    margin-top: -5px;
}
/* title*/

.wrap-line{
    text-align:center;
    margin :auto;
}
.wrap-line hr{
    margin : 1em auto;
    border: 2px solid white;
    outline: 0px none;  
    width:20px;
}
/*===================================================================================*/
/*	SECTION : COLORS
/*===================================================================================*/
.section-gray {
    padding-top: 0px;
    background-color: #f5f5f5;
}
.section-white{
    padding-top: 0px;
    background-color: white;
}
/*===================================================================================*/
/*	SECTION : HEADER WITH IMAGE
/*===================================================================================*/

.header-img
{
    height:525px;
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    overflow: hidden;
    -webkit-box-shadow: none !important;
        background-attachment: fixed;
            background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    float: none;
    z-index: 0;
    padding-top:200px;
}
.overlay-header{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.header-title h1{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 48px;
}

.header-title p{
    color: #fff;
    font-weight: 300;
    font-size: 26px;
}

/*===================================================================================*/
/*	SECTION : CATALOG
/*===================================================================================*/

.items li img {
    display: block;
    width: 100%;
    height: 220px;
}

.bordered .info p {
  color :#222;
}
.bordered {
    border: 1px solid #ffffff;
    background: #FFFFFF;
    height:90px;
    padding-top:9px;
}

.bordered .info h3 a, .bordered .info h4 a {
    color: #222;
}


/* tabs of catalog*/
.filter li a, .format-filter li a {
    padding: 0 15px;
    background-color: #B5B9C1;
    color: #fff;
    margin-right: 2px;
    
}
.filter li a:hover, .format-filter li a:hover {
   
    color:#222;
    background-color: #F5F5F5;
}



/*===================================================================================*/
/*	SECTION : STEPS FOR IMPORT
/*===================================================================================*/


.tabs-circle-top .etabs:before {
	margin: 120px 0 -120px;
}
.tabs-circle-top .tab {
	height: 100px;
	margin: 0 20px;

}
.tabs-circle-top .tab a {
	width: 105px;
	height: 105px;
	background: #FFF;
    color: #506A85;
	font-size: 14px;
	line-height: 130%;
	font-weight: 500;
    text-transform: uppercase;
	padding: 13px;
    border: 1px solid #CED7E0;
	border-radius: 50%;
	overflow: hidden;
}
.tabs-circle-top .tab a div {
	font-family: 'Lato', sans-serif;
	font-size: 40px;
	line-height: 100%;
	font-weight: 200;
	margin: -10px 0 5px;
}
.tabs-circle-top .tab a:hover {
	/*border: 4px solid #1ABB9C;*/
	background-color: #F5F7FA;
	border-color: #CED7E0 !important;
}
.tabs-circle-top .tab.active {
	top: -15px;
}
.tabs-circle-top .tab.active a {
	height: 115px;
	width: 115px;
    background: #506A85;
	font-size: 15px;
	line-height: 140%;
	color: #FFF;
	border: 1px solid #1ABB9C;
}
/*===================================================================================*/
/*	SECTION : PARTNERS
/*===================================================================================*/

.partner{
    text-align: center;
    margin: auto;
    margin-bottom: 25px;
   
}
.partner > img{
    position:relative;
    width: 170px;
    height: 60px;
}

/*===================================================================================*/
/*	SECTION : CLIENT
/*===================================================================================*/

.wrapper-img{
    height:140px;
    width:100%;
}
.wrapper-img img{
    height:100%;
    width:140px;
  
}


.subtitle h2{
    text-align: left;
    text-transform: uppercase;
    line-height: 24px;
    letter-spacing: 1px;
    font-weight: 600;
    font-style: normal;
    color: #222;
}


.icon_container_small{
    background: #1E2245;
    height:30px;
    width:30px;
    border-radius: 90%;
    margin-top:4px;
    padding-top:1px;
    padding-left:7px;
}
.icon_container_small i{
    color: white;
}

/*===================================================================================*/
/*	SECTION : HEADER BUTTON
/*===================================================================================*/


.wrap{
    padding-top:30px;
}
.btn-header{
  border-radius: 1px;
  background-color: #1C3B72;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  width: 200px;
  transition:  0.01 s;
  cursor: pointer;
  margin: 5px;
  padding-top:30px;
}

.btn-header span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.2s;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.btn-header span:after {
  font-family: FontAwesome;
  content:   "\f178";
  position: absolute;
  opacity: 0;
  top: 10%;
  right: 5px;
  transition: 0.5s;
  font-size:15px;
  line-height: 25px;
  font-weight: 700;
}
.btn-header:hover span {
  padding-right: 30px;
}

.btn-header:hover{
    background-color: white;
    color: #1C3B72;
}

.btn-header:hover span:after {
  opacity: 1;
  right: 1;
}

