#contactenos .form-group{
    font-size:70%;
    font-weight:normal;
    color:gray;
}
#contactenos ul li,
#contactenos ul li a
{
    font-size:80%;
    color:gray;
}

#contactenos h1
{
    text-transform:uppercase;
    font-size:105%;
    color:black;
    letter-spacing:2px;
}
#contactenos{
    background:rgba(245,245,245,1);
    padding-top:-80px;
    padding-left:9%;
    padding-right:9%;
  
}